.section {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .section {
    min-height: 60vh;
    flex-direction: column;
    padding: 1rem;
  }
}

.textContainer {
  max-width: 60rem;
  background-color: var(--zinc-100);
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
}

.textStyle {
  line-height: 1.2;
  font-size: 1rem;
  font-weight: 500;
  color: var(--zinc-600);
}

.textStyle>span {
  font-weight: 700;
}

@media (min-width: 768px) {
  .textStyle {
    font-size: 1.2rem;
  }
}

.nameStyle {
  font-size: 0.7rem;
  font-style: italic;
  padding-top: 1rem;
  color: var(--zinc-500);
}

@media (min-width: 768px) {
  .nameStyle {
    font-size: 1.2rem;
  }
}