.section {
  width: 100%;
  min-height: 40vh;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
  background-color: #f4f4f5;
}

.menu {
  width: 30%;
  padding: 1rem;
  font-size: 18px;
  border-right: 1px solid #ccc;
  min-height: 100vh;
  background-color: #f4f4f5;
}

.menuItem {
  margin-bottom: 0.4rem;
  cursor: pointer;
  color: black;
}

.menuItemActive {
  font-weight: bold;
}

.content {
  width: 70%;
  text-align: left;
  font-size: 20px;
  white-space: pre-line;
  padding: 2rem 1rem;
  background-color: #f4f4f5;
}
