.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0.5rem 0;
  margin-top: 5rem;
}

.footerLink {
  padding: 0.5rem;
}

.iconStyle:hover {
  transform: scale(1.25);
}

.copyrightTextStyle {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 0.8rem;
}
